.main {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;
}

.preview {
	margin-right: 8px;
	width: 60px;
	height: 60px;
}

.data {
	display: flex;
	flex-direction: column;
}

.title {
	-unity-font-style: bold;
}